name: AuthenticatorTests

on: [push]
env: DEVELOPER_DIR: /Applications/Xcode_12.5.app/Contents/Developer

jobs:
  build:

    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test on emulator
        run: xcodebuild clean test -disablePackageRepositoryCache -sdk iphonesimulator -project Authenticator.xcodeproj -scheme Authenticator -destination "platform=iOS Simulator,OS=14.4,name=iPhone 12" | xcpretty --test --color && exit ${PIPESTATUS[0]}

