name: AuthenticatorTests

on: [push]

jobs:
  build:

    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2
        
      - name: Checkout submodules
        shell: bash
        run: |
          git submodule update --init --recursive
      
      - name: Check file structure
        run: ls -la YubiKit
        
      - name: Install Dependencies
        run: pod install       

      - name: Build for device
        run: |
          xcodebuild -sdk iphoneos -configuration Release -workspace Authenticator.xcworkspace -scheme Authenticator build CODE_SIGNING_ALLOWED=NO DSTROOT=/tmp/deploy SYMROOT=/tmp/deploy
                        
      - name: Test on emulator
        run: |
          xcodebuild -sdk iphonesimulator -workspace Authenticator.xcworkspace -scheme Authenticator -destination "platform=iOS Simulator,OS=13.2.2,name=iPhone 8" test| xcpretty --test --color
         
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: yubioath-ios-app-bundle
          path: /tmp/deploy

      - name: Cleanup
        run: |
          rm -rf /tmp/deploy
